# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
build/
ios/Pods/
[pubspec.lock](http://_vscodecontentref_/2)

# Firebase
[google-services.json](http://_vscodecontentref_/3)
ios/Runner/GoogleService-Info.plist

# Secrets
*.key
*.pem
*.p12